Nav {
  position: sticky;
  height: 6rem;
  min-width: 100vw;
  background-color: #242424;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  box-shadow: 0 0px 10px 0 black;
  z-index: 1000;
}
ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}
ul li {
  text-decoration: none;
  margin: 5px;
  color: #f0edee;
  font-size: 1.2rem;
  cursor: pointer;
  user-select: none;
}
.settings-button {
  width: 3rem;
  height: 3rem;
}
.refresh-button {
  width: 3rem;
  height: 3rem;
  margin-right: 20px;
}

@media only screen and (max-width: 680px) {
  .settings-button,
  .refresh-button {
    font-size: 1.25rem;
    width: 30px;
    height: 30px;
  }
  ul li {
    font-size: 1rem;
  }
}
@media only screen and (orientation: landscape) and (max-device-width: 680px) and (min-device-width: 280px) {
  .settings-button,
  .refresh-button {
    font-size: 1.25rem;
    width: 30px;
    height: 30px;
  }
  ul li {
    font-size: 1rem;
  }
}
