.Circle {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  background-color: #00000000;
  border: 4px dotted #24242427;
  position: absolute;
  top: 200px;
  user-select: none;
}
.progress-ring {
  margin-left: -4px;
  margin-top: -4px;
}

@media only screen and (max-width: 680px) {
  .Circle {
    width: 248px;
    height: 248px;
    top: 200px;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  .progress-ring {
    width: 248px;
    height: 248px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
